# exploring Forutune 500 (f500) advanced

In [3]:
import pandas as pd
# read the data set into a pandas dataframe
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None

# replace 0 values in the "previous_rank" column with NaN
#f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

f500_selection = f500.loc[:,['rank','revenues','revenue_change']].head(5)
print(f500_selection)

                          rank  revenues  revenue_change
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7

In [33]:
import pandas as pd
# read the data set into a pandas dataframe
#without index changing!
f500 = pd.read_csv("f500.csv")
first_three_rows = f500.loc[:3]
first_seventh_row_slice = f500.iloc[[0,6],:5]
print(first_seventh_row_slice)

             company  rank  revenues  revenue_change  profits
0            Walmart     1    485873             0.8  13643.0
6  Royal Dutch Shell     7    240033           -11.8   4575.0

In [37]:
#find if there is null in previous_rank
import numpy as np
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan
null_previous_rank = f500[f500["previous_rank"].isnull()][["company","rank","previous_rank"]]
print(null_previous_rank)

                                   company  rank  previous_rank
48                   Legal & General Group    49            NaN
90                                  Uniper    91            NaN
123                      Dell Technologies   124            NaN
138                 Anbang Insurance Group   139            NaN
140                        Albertsons Cos.   141            NaN
180             Hewlett Packard Enterprise   181            NaN
267                           Hengli Group   268            NaN
271         Johnson Controls International   272            NaN
341                                  Chubb   342            NaN
375                 Charter Communications   376            NaN
376                              Medtronic   377            NaN
392                               Facebook   393            NaN
409                            Kraft Heinz   410            NaN
414                                  Nokia   415            NaN
431                          Standard Life   432            NaN
440            Brookfield Asset Management   441            NaN
441        Mercantil Servicios Financieros   442            NaN
446                            Samsung C&T   447            NaN
456                        Heraeus Holding   457            NaN
458                Yango Financial Holding   459            NaN
461                  Alibaba Group Holding   462            NaN
463                            Progressive   464            NaN
466                Country Garden Holdings   467            NaN
472                                 Altice   473            NaN
477                       Tencent Holdings   478            NaN
482                                  Aflac   483            NaN
484                  Suning Commerce Group   485            NaN
487                             Xiamen C&D   488            NaN
491                         Dollar General   492            NaN
493               Xiamen ITG Holding Group   494            NaN
494  Xinjiang Guanghui Industry Investment   495            NaN
495         Teva Pharmaceutical Industries   496            NaN
499                             AutoNation   500            NaN

In [38]:
#Assign the first five rows of the null_previous_rank dataframe to the variable top5_null_prev_rank
top5_null_prev_rank = null_previous_rank.iloc[:5]
print(top5_null_prev_rank)

                    company  rank  previous_rank
48    Legal & General Group    49            NaN
90                   Uniper    91            NaN
123       Dell Technologies   124            NaN
138  Anbang Insurance Group   139            NaN
140         Albertsons Cos.   141            NaN

In [40]:
previously_ranked = f500[f500["previous_rank"].notnull()]
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
f500["rank_change"] = rank_change
print (rank_change)

0       0.0
1       0.0
2       1.0
3      -1.0
4       3.0
       ...
490   -20.0
492   -89.0
496   -70.0
497   -61.0
498   -32.0
Length: 467, dtype: float64

In [41]:
large_revenue = f500["revenues"] > 100000
negative_profits = f500["profits"] < 0
combined = large_revenue & negative_profits
big_rev_neg_profit = f500.loc[combined]
print(big_rev_neg_profit)

                company  rank  revenues  revenue_change  profits   assets  \
32  Japan Post Holdings    33    122990             3.6   -267.4  2631385
44              Chevron    45    107567           -18.0   -497.0   260078

    profit_change               ceo                         industry  \
32         -107.5  Masatsugu Nagato  Insurance: Life, Health (stock)
44         -110.8    John S. Watson               Petroleum Refining

        sector  previous_rank country    hq_location                  website  \
32  Financials           37.0   Japan   Tokyo, Japan  http://www.japanpost.jp
44      Energy           31.0     USA  San Ramon, CA   http://www.chevron.com

    years_on_global_500_list  employees  total_stockholder_equity  rank_change
32                        21     248384                     91532          4.0
44                        23      55200                    145556        -14.0

In [43]:
filter_brazil_venezuela = (f500["country"] == "Brazil") | (f500["country"] == "Venezuela")
brazil_venezuela = f500[filter_brazil_venezuela]

filter_tech_outside_usa = (f500["sector"] == "Technology") & ~(f500["country"] == "USA")
tech_outside_usa = f500[filter_tech_outside_usa].head()
print(tech_outside_usa)

                         company  rank  revenues  revenue_change  profits  \
14           Samsung Electronics    15    173957            -2.0  19316.5
26    Hon Hai Precision Industry    27    135129            -4.3   4608.8
70                       Hitachi    71     84558             1.2   2134.3
82   Huawei Investment & Holding    83     78511            24.9   5579.4
104                         Sony   105     70170             3.9    676.4

     assets  profit_change                   ceo  \
14   217104           16.8          Oh-Hyun Kwon
26    80436           -0.4             Terry Gou
70    86742           48.8  Toshiaki Higashihara
82    63837           -5.0          Ren Zhengfei
104  158519          -45.1           Kazuo Hirai

                                       industry      sector  previous_rank  \
14               Electronics, Electrical Equip.  Technology           13.0
26               Electronics, Electrical Equip.  Technology           25.0
70               Electronics, Electrical Equip.  Technology           79.0
82   Network and Other Communications Equipment  Technology          129.0
104              Electronics, Electrical Equip.  Technology          113.0

         country              hq_location                 website  \
14   South Korea       Suwon, South Korea  http://www.samsung.com
26        Taiwan  New Taipei City, Taiwan  http://www.foxconn.com
70         Japan             Tokyo, Japan  http://www.hitachi.com
82         China          Shenzhen, China   http://www.huawei.com
104        Japan             Tokyo, Japan     http://www.sony.net

     years_on_global_500_list  employees  total_stockholder_equity  \
14                         23     325000                    154376
26                         13     726772                     33476
70                         23     303887                     26632
82                          8     180000                     20159
104                        23     128400                     22415

     rank_change
14          -2.0
26          -2.0
70           8.0
82          46.0
104          8.0

In [44]:
only_japan = f500[f500["country"] == "Japan"]
only_japan = only_japan.sort_values("employees", ascending = False)
first_row = only_japan.iloc[0]
top_japanese_employer = first_row["company"]
print(first_row)

company                                     Toyota Motor
rank                                                   5
revenues                                          254694
revenue_change                                       7.7
profits                                          16899.3
assets                                            437575
profit_change                                      -12.3
ceo                                          Akio Toyoda
industry                        Motor Vehicles and Parts
sector                            Motor Vehicles & Parts
previous_rank                                          8
country                                            Japan
hq_location                                Toyota, Japan
website                     http://www.toyota-global.com
years_on_global_500_list                              23
employees                                         364445
total_stockholder_equity                          157210
rank_change                                            3
Name: 4, dtype: object

In [45]:
top_employer_by_country = {}
countries = f500["country"].unique()

for item in countries:
    # Use boolean comparison to select only rows that
    # correspond to a specific country
    selected_rows = f500[f500["country"] == item]
    selected_rows = selected_rows.sort_values("employees",ascending = False)
    first_row = selected_rows.iloc[0]
    company = first_row["company"]
    country = first_row["country"]
    top_employer_by_country[country] = company
print(top_employer_by_country)

{'USA': 'Walmart', 'China': 'China National Petroleum', 'Japan': 'Toyota Motor', 'Germany': 'Volkswagen', 'Netherlands': 'EXOR Group', 'Britain': 'Compass Group', 'South Korea': 'Samsung Electronics', 'Switzerland': 'Nestle', 'France': 'Sodexo', 'Taiwan': 'Hon Hai Precision Industry', 'Singapore': 'Flex', 'Italy': 'Poste Italiane', 'Russia': 'Gazprom', 'Spain': 'Banco Santander', 'Brazil': 'JBS', 'Mexico': 'America Movil', 'Luxembourg': 'ArcelorMittal', 'India': 'State Bank of India', 'Malaysia': 'Petronas', 'Thailand': 'PTT', 'Australia': 'Wesfarmers', 'Belgium': 'Anheuser-Busch InBev', 'Norway': 'Statoil', 'Canada': 'George Weston', 'Ireland': 'Accenture', 'Indonesia': 'Pertamina', 'Denmark': 'Maersk Group', 'Saudi Arabia': 'SABIC', 'Sweden': 'H & M Hennes & Mauritz', 'Finland': 'Nokia', 'Venezuela': 'Mercantil Servicios Financieros', 'Turkey': 'Koc Holding', 'U.A.E': 'Emirates Group', 'Israel': 'Teva Pharmaceutical Industries'}

In [46]:
f500["roa"] = f500["profits"] / f500["assets"]
unique_sectors = f500["sector"].unique()
top_roa_by_sector = {}

for item in unique_sectors:
    
    is_sector = f500["sector"] == item
    sector_companies = f500.loc[is_sector]
    top_company = sector_companies.sort_values("roa",ascending=False).iloc[0]
    company_name = top_company["company"]
    top_roa_by_sector[item] = company_name
print(top_roa_by_sector)

{'Retailing': 'H & M Hennes & Mauritz', 'Energy': 'National Grid', 'Motor Vehicles & Parts': 'Subaru', 'Financials': 'Berkshire Hathaway', 'Technology': 'Accenture', 'Wholesalers': 'McKesson', 'Health Care': 'Gilead Sciences', 'Telecommunications': 'KDDI', 'Engineering & Construction': 'Pacific Construction Group', 'Industrials': '3M', 'Food & Drug Stores': 'Publix Super Markets', 'Aerospace & Defense': 'Lockheed Martin', 'Food, Beverages & Tobacco': 'Philip Morris International', 'Household Products': 'Unilever', 'Transportation': 'Delta Air Lines', 'Materials': 'CRH', 'Chemicals': 'LyondellBasell Industries', 'Media': 'Disney', 'Apparel': 'Nike', 'Hotels, Restaurants & Leisure': 'McDonaldâ€™s', 'Business Services': 'Adecco Group'}

# exploring laptops (advanced)

In [1]:
import pandas as pd
laptops = pd.read_csv("laptops.csv", encoding="Latin-1")
laptops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
Manufacturer                1303 non-null object
Model Name                  1303 non-null object
Category                    1303 non-null object
Screen Size                 1303 non-null object
Screen                      1303 non-null object
CPU                         1303 non-null object
RAM                         1303 non-null object
 Storage                    1303 non-null object
GPU                         1303 non-null object
Operating System            1303 non-null object
Operating System Version    1133 non-null object
Weight                      1303 non-null object
Price (Euros)               1303 non-null object
dtypes: object(13)
memory usage: 132.5+ KB

In [15]:
new_columns = []
print(laptops.columns)
for item in laptops.columns:
    clean_c = item.strip()
    new_columns.append(clean_c)
    
laptops.columns = new_columns   
print("\n" ,"after stripping","\n")
print(laptops.columns)

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', 'Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

 after stripping

Index(['Manufacturer', 'Model Name', 'Category', 'Screen Size', 'Screen',
       'CPU', 'RAM', 'Storage', 'GPU', 'Operating System',
       'Operating System Version', 'Weight', 'Price (Euros)'],
      dtype='object')

# cleanning column names and data

In [16]:
import pandas as pd
laptops = pd.read_csv('laptops.csv', encoding='Latin-1')
def clean_col(col):
    col = col.strip()
    col = col.replace("Operating System","os")
    col = col.replace(" ","_")
    col = col.replace("(","")
    col = col.replace(")","")
    col = col.lower()
    return col
new_columns = []
for c in laptops.columns:
    clean_c = clean_col(c)
    new_columns.append(clean_c)
    
laptops.columns = new_columns

print(laptops.columns)

Index(['manufacturer', 'model_name', 'category', 'screen_size', 'screen',
       'cpu', 'ram', 'storage', 'gpu', 'os', 'os_version', 'weight',
       'price_euros'],
      dtype='object')

In [18]:
unique_ram = laptops["ram"].unique()
print(unique_ram)

['8GB' '16GB' '4GB' '2GB' '12GB' '6GB' '32GB' '24GB' '64GB']

In [19]:
laptops["ram"]  = laptops["ram"].str.replace('GB','')
unique_ram = laptops["ram"].unique()
print(unique_ram)

['8' '16' '4' '2' '12' '6' '32' '24' '64']

In [26]:
laptops["ram"] = laptops["ram"].astype(int)
dtypes = laptops.dtypes
print(dtypes)

laptops.rename({"ram": "ram_gb"}, axis=1, inplace=True)
ram_gb_desc = laptops["ram_gb"].describe()
print(ram_gb_desc)

manufacturer    object
model_name      object
category        object
screen_size     object
screen          object
cpu             object
ram              int32
storage         object
gpu             object
os              object
os_version      object
weight          object
price_euros     object
dtype: object
count    1303.000000
mean        8.382195
std         5.084665
min         2.000000
25%         4.000000
50%         8.000000
75%         8.000000
max        64.000000
Name: ram_gb, dtype: float64

In [29]:
laptops["gpu_manufacturer"] = (laptops["gpu"]
                                       .str.split()
                                       .str[0]
                              )

laptops["cpu_manufacturer"] = (laptops["cpu"]
                                       .str.split()
                                       .str[0]
                              )
cpu_manufacturer_counts0 = {}
list_cpu = laptops["cpu_manufacturer"]
for item in list_cpu:
    if item not in cpu_manufacturer_counts0:
        cpu_manufacturer_counts0[item] = 1
    else:
        cpu_manufacturer_counts0[item] += 1
        
cpu_manufacturer_counts = laptops["cpu_manufacturer"].value_counts()
print(cpu_manufacturer_counts0)
print(cpu_manufacturer_counts)

{'Intel': 1240, 'AMD': 62, 'Samsung': 1}
Intel      1240
AMD          62
Samsung       1
Name: cpu_manufacturer, dtype: int64

In [31]:
mapping_dict = {
    'Android': 'Android',
    'Chrome OS': 'Chrome OS',
    'Linux': 'Linux',
    'Mac OS': 'macOS',
    'No OS': 'No OS',
    'Windows': 'Windows',
    'macOS': 'macOS'
}
laptops["os"] = laptops["os"].map(mapping_dict)
print(laptops["os"])

0         macOS
1         macOS
2         No OS
3         macOS
4         macOS
         ...
1298    Windows
1299    Windows
1300    Windows
1301    Windows
1302    Windows
Name: os, Length: 1303, dtype: object

In [32]:
# get rid of columns with NaNs data
laptops_no_null_rows = laptops.dropna()
laptops_no_null_cols = laptops.dropna(axis=1)

In [33]:
value_counts_before = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()
print(value_counts_before)
laptops.loc[laptops["os"] == "macOS", "os_version"] = "X"

laptops.loc[laptops["os"] == "No OS", "os_version"] = "Version Unknown"
value_counts_after = laptops.loc[laptops["os_version"].isnull(), "os"].value_counts()
print(value_counts_after)

No OS        66
Linux        62
Chrome OS    27
macOS        13
Android       2
Name: os, dtype: int64
Linux        62
Chrome OS    27
Android       2
Name: os, dtype: int64

In [42]:
#print(laptops.head())
# Convert the values in the weight column to numeric values.
# Once aplied will not work again because changes has been done
laptops["weight"]  = laptops["weight"].str.replace("kgs","").str.replace("kg","").astype(float)
# Rename the weight column to weight_kg
laptops.rename({"weight": "weight_kg"}, axis=1, inplace=True)
#save the laptops dataframe to a CSV file 
laptops.to_csv('laptops_cleaned.csv', index=False)
print(laptops.head(10))

  manufacturer   model_name   category screen_size  \
0        Apple  MacBook Pro  Ultrabook       13.3"
1        Apple  Macbook Air  Ultrabook       13.3"
2           HP       250 G6   Notebook       15.6"
3        Apple  MacBook Pro  Ultrabook       15.4"
4        Apple  MacBook Pro  Ultrabook       13.3"

                               screen                         cpu  ram_gb  \
0  IPS Panel Retina Display 2560x1600        Intel Core i5 2.3GHz       8
1                            1440x900        Intel Core i5 1.8GHz       8
2                   Full HD 1920x1080  Intel Core i5 7200U 2.5GHz       8
3  IPS Panel Retina Display 2880x1800        Intel Core i7 2.7GHz      16
4  IPS Panel Retina Display 2560x1600        Intel Core i5 3.1GHz       8

               storage                           gpu     os       os_version  \
0            128GB SSD  Intel Iris Plus Graphics 640  macOS                X
1  128GB Flash Storage        Intel HD Graphics 6000  macOS                X
2            256GB SSD         Intel HD Graphics 620  No OS  Version Unknown
3            512GB SSD            AMD Radeon Pro 455  macOS                X
4            256GB SSD  Intel Iris Plus Graphics 650  macOS                X

   weight_kg price_euros gpu_manufacturer cpu_manufacturer
0       1.37     1339,69            Intel            Intel
1       1.34      898,94            Intel            Intel
2       1.86      575,00            Intel            Intel
3       1.83     2537,45              AMD            Intel
4       1.37     1803,60            Intel            Intel