In [2]:
import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None
f500_type = type(f500)
f500_shape = f500.shape
#print(f500)
f500_head = f500.head(6)
f500_tail = f500.tail(8)
#print(f500_head)

print(f500.info())

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB
None

In [3]:
industries = f500["industry"]
print(industries)
industries_type = type(industries)
print(industries_type)

Walmart                                     General Merchandisers
State Grid                                              Utilities
Sinopec Group                                  Petroleum Refining
China National Petroleum                       Petroleum Refining
Toyota Motor                             Motor Vehicles and Parts
                                               ...
Teva Pharmaceutical Industries                    Pharmaceuticals
New China Life Insurance          Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                    Food and Drug Stores
TUI                                               Travel Services
AutoNation                                    Specialty Retailers
Name: industry, Length: 500, dtype: object
<class 'pandas.core.series.Series'>

In [4]:
countries = f500["country"]
revenues_years = f500[['revenues','years_on_global_500_list']]
#print(revenues_years)
ceo_to_sector = f500.loc[:,"ceo":"sector"]
print(ceo_to_sector)

                                                ceo  \
Walmart                         C. Douglas McMillon
State Grid                                  Kou Wei
Sinopec Group                             Wang Yupu
China National Petroleum              Zhang Jianhua
Toyota Motor                            Akio Toyoda
...                                             ...
Teva Pharmaceutical Industries    Yitzhak Peterburg
New China Life Insurance                   Wan Feng
Wm. Morrison Supermarkets            David T. Potts
TUI                               Friedrich Joussen
AutoNation                       Michael J. Jackson

                                                       industry  \
Walmart                                   General Merchandisers
State Grid                                            Utilities
Sinopec Group                                Petroleum Refining
China National Petroleum                     Petroleum Refining
Toyota Motor                           Motor Vehicles and Parts
...                                                         ...
Teva Pharmaceutical Industries                  Pharmaceuticals
New China Life Insurance        Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                  Food and Drug Stores
TUI                                             Travel Services
AutoNation                                  Specialty Retailers

                                                sector
Walmart                                      Retailing
State Grid                                      Energy
Sinopec Group                                   Energy
China National Petroleum                        Energy
Toyota Motor                    Motor Vehicles & Parts
...                                                ...
Teva Pharmaceutical Industries             Health Care
New China Life Insurance                    Financials
Wm. Morrison Supermarkets           Food & Drug Stores
TUI                                  Business Services
AutoNation                                   Retailing

[500 rows x 3 columns]

In [5]:
toyota = f500.loc["Toyota Motor"]
#print(toyota)
drink_companies = f500.loc[["Anheuser-Busch InBev", "Coca-Cola", "Heineken Holding"]]
#print(drink_companies)
middle_companies =  f500.loc["Tata Motors": "Nationwide"]
middle_companies = middle_companies.loc[:,"rank": "country"]
print(middle_companies)

                                 rank  revenues  revenue_change  profits  \
Tata Motors                       247     40329            -4.2   1111.6
Aluminum Corp. of China           248     40278             6.0   -282.5
Mitsui                            249     40275             1.6   2825.3
Manulife Financial                250     40238            49.4   2209.7
China Minsheng Banking            251     40234            -5.2   7201.6
China Pacific Insurance (Group)   252     40193             2.2   1814.9
American Airlines Group           253     40180            -2.0   2676.0
Nationwide                        254     40074            -0.4    334.3

                                 assets  profit_change                   ceo  \
Tata Motors                       42162          -34.0      Guenter Butschek
Aluminum Corp. of China           75089            NaN              Yu Dehui
Mitsui                           103231            NaN       Tatsuo Yasunaga
Manulife Financial               537461           28.9     Donald A. Guloien
China Minsheng Banking           848389           -1.8         Zheng Wanchun
China Pacific Insurance (Group)  146873          -35.7          Huo Lianhong
American Airlines Group           51274          -64.8     W. Douglas Parker
Nationwide                       197790          -42.4  Stephen S. Rasmussen

                                                                  industry  \
Tata Motors                                       Motor Vehicles and Parts
Aluminum Corp. of China                                             Metals
Mitsui                                                             Trading
Manulife Financial                         Insurance: Life, Health (stock)
China Minsheng Banking                       Banks: Commercial and Savings
China Pacific Insurance (Group)            Insurance: Life, Health (stock)
American Airlines Group                                           Airlines
Nationwide                       Insurance: Property and Casualty (Mutual)

                                                 sector  previous_rank country
Tata Motors                      Motor Vehicles & Parts            226   India
Aluminum Corp. of China                       Materials            262   China
Mitsui                                      Wholesalers            245   Japan
Manulife Financial                           Financials            394  Canada
China Minsheng Banking                       Financials            221   China
China Pacific Insurance (Group)              Financials            251   China
American Airlines Group                  Transportation            236     USA
Nationwide                                   Financials            241     USA

In [6]:
countries = f500["country"]
country_counts = countries.value_counts()
print(country_counts)

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Switzerland      14
Netherlands      14
Canada           11
Spain             9
Brazil            7
India             7
Italy             7
Australia         7
Taiwan            6
Ireland           4
Russia            4
Singapore         3
Sweden            3
Mexico            2
Israel            1
Indonesia         1
Malaysia          1
Denmark           1
Saudi Arabia      1
Luxembourg        1
Belgium           1
Thailand          1
Norway            1
U.A.E             1
Venezuela         1
Finland           1
Turkey            1
Name: country, dtype: int64

In [7]:
countries = f500['country']
countries_counts = countries.value_counts()
india = countries_counts.loc["India"]
north_america = countries_counts.loc[["USA", "Canada", "Mexico"]]
print(north_america)

USA       132
Canada     11
Mexico      2
Name: country, dtype: int64

In [8]:
big_movers = f500.loc[["Aviva", "HP", "JD.com", "BHP Billiton"],["rank","previous_rank"]]
#print(big_movers)
bottom_companies = f500.loc["National Grid":"AutoNation",["rank", "sector", "country"]]
print(bottom_companies)

                                       rank              sector  country
National Grid                           491              Energy  Britain
Dollar General                          492           Retailing      USA
Telecom Italia                          493  Telecommunications    Italy
Xiamen ITG Holding Group                494         Wholesalers    China
Xinjiang Guanghui Industry Investment   495         Wholesalers    China
Teva Pharmaceutical Industries          496         Health Care   Israel
New China Life Insurance                497          Financials    China
Wm. Morrison Supermarkets               498  Food & Drug Stores  Britain
TUI                                     499   Business Services  Germany
AutoNation                              500           Retailing      USA

In [9]:
rank_change = f500["previous_rank"] - f500["rank"]
print(rank_change)

Walmart                             0
State Grid                          0
Sinopec Group                       1
China National Petroleum           -1
Toyota Motor                        3
                                 ...
Teva Pharmaceutical Industries   -496
New China Life Insurance          -70
Wm. Morrison Supermarkets         -61
TUI                               -32
AutoNation                       -500
Length: 500, dtype: int64

In [10]:
rank_change =  f500["previous_rank"] - f500["rank"]
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()

In [11]:
rank = f500["rank"]
rank_desc = rank.describe() 

prev_rank = f500["previous_rank"]
prev_rank_desc = prev_rank.describe()

In [12]:
# find where the previous rank was zero
zero_previous_rank = f500["previous_rank"].value_counts().loc[0]

In [16]:
max_f500 = f500.max(numeric_only=True)
print(max_f500)

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

In [17]:
f500_desc = f500.describe()
print(f500_desc)

             rank       revenues  revenue_change       profits        assets  \
count  500.000000     500.000000      498.000000    499.000000  5.000000e+02
mean   250.500000   55416.358000        4.538353   3055.203206  2.436323e+05
std    144.481833   45725.478963       28.549067   5171.981071  4.851937e+05
min      1.000000   21609.000000      -67.300000 -13038.000000  3.717000e+03
25%    125.750000   29003.000000       -5.900000    556.950000  3.658850e+04
50%    250.500000   40236.000000        0.550000   1761.600000  7.326150e+04
75%    375.250000   63926.750000        6.975000   3954.000000  1.805640e+05
max    500.000000  485873.000000      442.300000  45687.000000  3.473238e+06

       profit_change  previous_rank  years_on_global_500_list     employees  \
count     436.000000     500.000000                500.000000  5.000000e+02
mean       24.152752     222.134000                 15.036000  1.339983e+05
std       437.509566     146.941961                  7.932752  1.700878e+05
min      -793.700000       0.000000                  1.000000  3.280000e+02
25%       -22.775000      92.750000                  7.000000  4.293250e+04
50%        -0.350000     219.500000                 17.000000  9.291050e+04
75%        17.700000     347.250000                 23.000000  1.689172e+05
max      8909.500000     500.000000                 23.000000  2.300000e+06

       total_stockholder_equity
count                500.000000
mean               30628.076000
std                43642.576833
min               -59909.000000
25%                 7553.750000
50%                15809.500000
75%                37828.500000
max               301893.000000

In [18]:
#top5_rank_revenue = f500[["rank", "revenues"]].head()
#print(top5_rank_revenue)

#assign values to the dataframe
#top5_rank_revenue["revenues"] = 0
#print(top5_rank_revenue)

#assign values to the dataframe
f500.loc["Dow Chemical","ceo"] = "Jim Fitterling"
print(f500.loc["Dow Chemical","ceo"])

Jim Fitterling

In [19]:
motor_bool = f500["industry"] == "Motor Vehicles and Parts"
motor_countries = f500.loc[motor_bool,"country"]
print(motor_countries.value_counts())

Japan          10
China           7
Germany         6
South Korea     3
France          3
USA             2
India           1
Canada          1
Sweden          1
Name: country, dtype: int64

In [20]:
import numpy as np
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()
#change 0 to numpy Nan
#change 0 to numpy Nan
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan
prev_rank_after = f500["previous_rank"].value_counts(dropna=False).head()

In [ ]:
#adding new column
#f500["rank_change"] = rank_change
f500["rank_change"] = f500["previous_rank"] - f500["rank"]
rank_change_desc = f500["rank_change"].describe()

#pick column where another column equals, count it and print first 2-3 rows
industry_usa = f500["industry"][f500["country"] == "USA"].value_counts().head(2)
sector_china = f500["sector"][f500["country"] == "China"].value_counts().head(3)